*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

html{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #ffff;
	background: black;
}

header{
	margin: 50px;
}

.container{
	min-height: 70vh;
	background: url('img/image.jpg') center/cover no-repeat;

}

h3{
	padding-top: 50px;
}

.my_projects {
	display: block;
	left: 10px;
	background: rgb(255,255,255,0.7);
	margin: 20px 500px 0 500px;
}

.my_projects a{
	color: #0489a7;
}



